body{
background-color: rgb(51, 162, 199);

}
nav{
width: 100%;
text-align: center;
color: rgb(0, 0, 0);
display: flex;
gap: 10px;
}
h1:first-child{
    font-weight: bolder;
}
h1:last-child{
    font-weight: 100;
}